html,
body,
#app {
  margin: 0;
  height: 100%;
  display: flex;
  font-size: 15px;
  overflow-y: auto;
  font-weight: normal;
  overflow-x: hidden;
  flex-direction: column;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: var(--text-color);
  font-family: var(--font-family);
  background-color: var(--surface-a);
}
